@import "@/styles/variables";

.container {
    background-color: $textGreyColor;
    display: flex;
    justify-content: center;
    width: 100%;
}
.content {
    position: relative;
    max-width: 1040px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 566px 8px 120px 8px;
    @media (max-width: 1250px) {
    }
    @media (max-width: 842px) {
        flex-direction: column;
        align-items: center;
        padding: 32px 8px;
    }
}
.textBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media (max-width: 842px) {
        align-items: center;
        margin-bottom: 32px;
    }
}
.title {
    max-width: 680px;
    margin-bottom: 24px;
    text-align: end;
    @media (max-width: 842px) {
        text-align: center;
    }
}
.subTitle {
    max-width: 320px;
    margin-bottom: 48px;
}
.btn {
    max-width: 312px;
    width: 100%;
}
.locationCard {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 32px;
    @media (max-width: 842px) {
        margin: 16px;
        gap: 24px;
    }
    img {
        width: 268px;
        height: auto;
        object-fit: cover;
        @media (max-width: 842px) {
            max-width: 358px;
            height: auto;
        }
    }
    .cardTextBlock {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .bottomRaw {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    @media (max-width: 842px) {
        position: static;
    }
    &:nth-child(2) {
        top: 96px;
        right: 16px;
        @media (max-width: 1250px) {
        }
    }
    &:nth-child(3) {
        top: 200px;
        left: 16px;
        @media (max-width: 1250px) {
            top: 160px;
        }
    }
    &:nth-child(4) {
        top: 60%;
        left: 40px;
        @media (max-width: 1250px) {
        }
    }
}
