@import "@/styles/variables";
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $textGreyColor;

  padding: 96px 16px;
}
.title{
  margin-bottom: 24px;
}
.desc{
  margin-bottom: 48px;
  text-align: center;
}
.button{
  padding: 16px 120px !important;
}